.h2-title {
  font-family: montserrat, sans-serif;
  font-size: 1.6em;
  padding: 20px 0;
  color: white;
}

.row-wrapper {
  position: relative;
  overflow: visible;
}

.row-wrapper::before,
.row-wrapper::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  z-index: 5;
  top: 0;
  pointer-events: none;
}

.row-wrapper::before {
  left: 0;
  background: linear-gradient(to right, black, transparent);
}
.row-wrapper::after {
  right: 0;
  background: linear-gradient(to left, black, transparent);
}

.row {
  display: flex;
  overflow-x: scroll;
  overflow-y: visible;
  position: relative;
  gap: 15px;
  padding: 10px 0;
}

.movie-poster {
  width: 150px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie-poster:hover {
  transform: translateY(-8px);
  position: relative;
}
